body {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 1fr auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    gap: 1em;
}

h1 {
    font-size: 2.2rem;
}

a {
    color: #009600;
    text-decoration: underline;
}

.blue-ribbon {
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    align-items: center;
    background-color: #004b80;
    color: #ffffff;
    font-size: larger;
    font-weight: bold;
    padding: 2vw;
    margin: 0;
    width: 66%;
}

.profile-picture {
    grid-row: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    min-width: 90%;
}

#schema-picture {
    border: 7px solid black;
    border-radius: 100%;
    height: 15rem;
    width: 15rem;
}

.about {
    grid-row: 2 / -1;
}

.logo {
    width: 30%;
}

.contents {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    padding: 2vw;
    /*color: #000000;*/
}

.date {
    text-align: right;
}

.information {
    margin: 0;
    padding-bottom: 1em;
}

.bold {
    font-weight: bold;
}